.oksana{
 display: flex;
flex-direction: column;
margin: 100px auto;
align-items: center;
position: relative;

}

.title {

}

.subtitle{
width: 700px;
text-align: center;
}

.certificate {
  width: 250px;
  height: 250px;
  border: 5px white solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.paragraph {
 text-align: center;
}


.link {
color: white;

}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-between;
  margin: 0 50px;
}

.oks {
  width: 200px;
  height: 200px;
}

.img {
  width: 150px;
  height: 150px;
}

.imgg {
  position: absolute;
  width: 150px;
  height: 150px;

  right: 500px;
}
.imggg {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 10px;
  left: 50px;
}


.imgggg {
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: 100px;
  right: 50px;
}

.imggggg {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 50px;
}


.omg {
  position: absolute;
  width: 150px;
  height: 150px;
  left: 50px

}

.parag {
  justify-content: center;
}
